* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerTest {
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 40px;
}

#testForm {
    margin-top: 30px;
    margin-bottom: 20px;
}

#pairNameValue {
    width: 70%;
    margin-right: 30px;
    padding: 2px 0;
}

#sortNameValue {
    display: flex;
    flex-direction: row;
    height: 70%;
}

#buttonsSortDelete {
    display: flex;
    flex-direction: column;
}

#pairList {
    width: 70%;
    margin-right: 35px;
}

#buttonsSortDelete button:nth-last-child(2) {
    margin-top: 15px;
    margin-bottom: 10px;
}

#buttonsSortDelete button:last-child {
    margin-top: 15px;
}

button {
    padding: 0 10px;
}

#pairList {
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

input[type='checkbox'] {
    margin: 0 5px;
}

#errorMessage {
    color: red;
    display: none;
}