* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
}

#container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.userDiv {
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 10px;
    padding-left: 30px;
}

.buttonUsersDetails {
    padding: 3px;
    margin-top: 10px;
}