* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

#postDivId {
    text-align: center;
    font-weight: bold;
}

#divContCom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.commentBody {
    display: inline-block;
    width: 250px;
    margin: 20px;
}